---
layout: page
title: Generic
---
<!-- <head> -->
  <!-- <script src="/assets/bokeh/js/test.js" id="139ef998-a97e-4c1a-bd62-004a12fd17d8"></script> -->

  <script src="/assets/bokeh/js/TIO2.js" id="32d77bff-2549-4482-a8c0-8060095e7728"></script>

  <script src="/assets/bokeh/js/TI2O4.js" id="42fa1fe3-d0bc-401e-872d-59c77952ea35"></script>

  <script src="/assets/bokeh/js/TI3O6.js" id="ba175d63-87e6-4701-9a97-9c258bd598e1"></script>

  <script src="/assets/bokeh/js/TI4O8.js" id="e5c8636a-4199-426c-90df-2e78d1be61cc"></script>

  <script src="/assets/bokeh/js/TI5O10.js" id="0fe0a90e-a47b-4ed6-bb98-a6007ab01ddc"></script>

  <script src="/assets/bokeh/js/TI6O12.js" id="bbd3b5f6-1654-425b-969f-f8a904f454e2"></script>

  <script src="/assets/bokeh/js/TI7O14.js" id="4cf444cf-a3c4-42b2-af77-89d01f1d65e7"></script>

  <script src="/assets/bokeh/js/TI8O16.js" id="3d8f6c76-7535-4aa8-9230-2c47f3027ae4"></script>

  <script src="/assets/bokeh/js/TI9O18.js" id="778ddc6c-0b29-4ad9-9001-d30778dea3ba"></script>

  <script src="/assets/bokeh/js/TI10O20.js" id="d985fd6c-17ef-41a0-b9dd-9da5bd1e2983"></script>

  <script src="/assets/bokeh/js/SIO.js" id="e0a7b0d9-f706-41b3-be58-1e078346b043"></script>

  <script src="/assets/bokeh/js/SI2O2.js" id="55c8a055-5efc-48a1-86ea-98beaa270993"></script>

  <script src="/assets/bokeh/js/SI3O3.js" id="d8a63af7-9aeb-4cb6-9a5b-6f4cb211e287"></script>

  <script src="/assets/bokeh/js/SI4O4.js" id="9f5b4e2f-b3d5-4fe5-809b-6e92d60260c1"></script>

  <script src="/assets/bokeh/js/SI5O5.js" id="42569e74-99dc-4e14-926b-76b821929836"></script>

  <script src="/assets/bokeh/js/SI6O6.js" id="0fa34715-d08a-4df3-aa3d-37e24c104139"></script>

  <script src="/assets/bokeh/js/SI7O7.js" id="cdfa862b-87ec-4f3c-be24-3115a6251fcc"></script>

  <script src="/assets/bokeh/js/SI8O8.js" id="94902a42-329c-4d42-986d-b43c7c53b38a"></script>

  <script src="/assets/bokeh/js/SI9O9.js" id="e296870a-f766-4956-be0c-f4244dba6cc9"></script>

  <script src="/assets/bokeh/js/MGO.js" id="643385d8-5e50-4aac-abef-a22282ccbcad"></script>

  <script src="/assets/bokeh/js/MG2O2.js" id="6f84a0fd-4e96-42cd-b468-22e43e32ac03"></script>

  <script src="/assets/bokeh/js/MG3O3.js" id="38595d0d-f3ec-4f9a-adb7-f5e47c32d8fc"></script>

  <script src="/assets/bokeh/js/MG4O4.js" id="1e806c78-46e8-4ad6-8952-f2f4fd3787f9"></script>

  <script src="/assets/bokeh/js/MG5O5.js" id="a4415b38-0d5c-4322-bca7-c53758895695"></script>

  <script src="/assets/bokeh/js/MG6O6.js" id="f152157d-a6d7-4b04-8a72-657bf7845a8d"></script>

  <script src="/assets/bokeh/js/MG7O7.js" id="2b386424-0926-433c-a188-91689cd080a6"></script>

  <script src="/assets/bokeh/js/MG8O8.js" id="2223f78c-ccea-4ed6-b240-75da9b17c87f"></script>

  <script src="/assets/bokeh/js/MG9O9.js" id="5786318a-8010-493d-9b37-f1af5e08c398"></script>

  <script src="/assets/bokeh/js/MG10O10.js" id="f1d2ea2b-7ae6-4f1e-83d3-61e438a9a78f"></script>

  <script src="/assets/bokeh/js/AL2O3.js" id="51d2a67e-2440-44ad-9df2-14d29ecfd81a"></script>

  <script src="/assets/bokeh/js/AL4O6.js" id="26fcb7d8-4538-4ff0-8d9e-56a086a1fb5e"></script>

  <script src="/assets/bokeh/js/AL6O9.js" id="32ed46fa-5ea7-4375-9961-ad69502a8f0e"></script>

  <script src="/assets/bokeh/js/AL8O12.js" id="9f0df5e7-ae9e-45ba-bee3-0b11fcab6635"></script>

  <script src="/assets/bokeh/js/AL10O15.js" id="3a2e3620-ea2a-4bc1-8e70-9e5397f22c6a"></script>

  <script src="/assets/bokeh/js/AL12O18.js" id="02e388af-9817-4637-a467-ddc6eafc8342"></script>

  <script src="/assets/bokeh/js/AL14O21.js" id="f338bf33-53f2-49c5-bb03-fc45f14236fa"></script>
