<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
  <a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    {% for page in site.pages %}
      {% if page.layout == "home" %}
        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
      {% else %}
        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="actions vertical">
    <li><a href="#" class="button special fit">Get Started</a></li>
    <li><a href="#" class="button fit">Log In</a></li>
  </ul>

</nav>
