<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
    {% if site.tiles-source == 'posts' %}
      <article>
        <span class="image">
          <img src="{{ post.image }}" alt="" />
        </span>

        <header class="major">
          <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
        </header>
      </article>
    {% endif %}
  {% endfor %}

  {% for page in site.pages limit:site.tiles-count %}
    {% if site.tiles-source == 'pages' %}
      <article>
        <span class="image">
          <img src="{{ page.image }}" alt="" />
        </span>
        
        <header class="major">
          <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
          <p>{{ page.description }}</p>
        </header>
      </article>
    {% endif %}
  {% endfor %}
</section>
