<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="banner" class="style2">
      <div class="inner">
        <span class="image">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
        </span>

        <header class="major">
          <h1>{{ page.title }}</h1>
        </header>

        <div class="content">
            {{ page.description }}
        </div>
      </div>
    </section>

    {{ content }}

    {% include footer.html %}

  </body>

</html>
